<div class="container">
  <div class="mt-4">
    <div class="row">

      {{#each blog}}

      <div class="col-sm-6 col-lg-4">
        <div class="card m-auto mb-4" style="width: 18rem;">
          <a href="/blog/{{this.slug}}">
            <img src="{{this.image}}" class="card-img-top" alt="..." style="height: 357px; object-fit: cover">
          </a>
          <div class="card-body">
            <h5 class="card-title" style="color: pink">{{this.name}}</h5>
            <a href="/blog/{{this.slug}}">
              <h5 class="card-title">{{this.title}}</h5>
            </a>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.createdAt}}</p>
            <a href="/blog/{{this.slug}}" class="btn btn-primary">View Detail</a>
          </div>
        </div>
      </div>

      {{/each}}
    </div>
  </div>
</div>